body {
  background: #fafafa;
  font-family: 'PT Sans Caption', sans-serif;
  color: #333;
  margin: 2em 4em 4em 4em;
}

img.tn {
  margin:2em 2em 0 0;

}

.content {
  float: right;
  width: 100%;
}

.footer {
  float: left;
}

.text {
  width: 70%;
}

.mqcheader {
  float: left;
  margin: 0 2em 1em 0;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.mqcheader h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.mqcheader h1 .tallline { 
  position: relative;
  top: -0.05em;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.google-contact {
  float: left;
  display: block;
  margin-top: -9px;
  margin-left: -28px;
}

a {
  text-decoration: none;

}