
<div class="o-grid-row top-level-padding">
  <div data-o-grid-colspan="S12 L6">
    <a href="index.html"><div class="mqcheader">
      <img class="titleimage" src="images/title.png" alt="Margaux Quayle Cannon Illustration"/>
    </div></a>
  </div>
  <div data-o-grid-colspan="S12 L6">
    <div class="breadcrumbs" data-o-grid-colspan="12">
      <div data-o-grid-colspan="12 M3 L3"><a href="info.html">Contact</a></div>
      <div data-o-grid-colspan="12 M3 L3"><a href="http://society6.com/quayle">Shop</a></div>
      <div data-o-grid-colspan="12 M3 L3"><a href="https://twitter.com/margauxqc"><img src="images/twitter.png"></a></div>
      <div data-o-grid-colspan="12 M3 L3"><a href="https://instagram.com/margauxcannon"><img src="images/insta.png"></a></div>
    </div>

    <div class="breadcrumbs" data-o-grid-colspan="12">
      <div data-o-grid-colspan="12 S12 M2 L4"><a href="artlicensing.html">Art Licensing</a></div>
      <div data-o-grid-colspan="12 S12 M2 L4"><a href="childrensbook.html">Children's Book</a></div>
      <div data-o-grid-colspan="12 S12 M2 L4"><a href="editorial.html">Editorial</a></div>
    </div>
  </div>
</div>