<div class="content masonry">
  <a class="tncaption" href="page27.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_vic.jpg"><br />
    <div class="picturetitle">Swiss Army Knife Marketing</div>
  </a>
  <a class="tncaption magic" href="page1.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_64.jpg"><br />
    <div class="picturetitle">London Underground</div>
  </a>
  <a class="tncaption" href="page2.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_a2zb.jpg"><br />
    <div class="picturetitle">A 2 Z</div>
  </a>
  <a class="tncaption" href="page28.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_fishy.png"><br />
    <div class="picturetitle">Gemfish Collection</div>
  </a>
  <a class="tncaption" href="page2.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_fledermaus.png"><br />
    <div class="picturetitle">Nights at the Opera Collection</div>
  </a>
  <a class="tncaption" href="page26.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_buddenbrooks.jpg"><br />
    <div class="picturetitle">Buddenbrooks - Thomas Mann</div>
  </a>
  <a class="tncaption" href="page24.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_witchy.jpg"><br />
    <div class="picturetitle">Magia -  Witchcraft Zine</div>
  </a>
  <a class="tncaption" href="page11.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_old.jpg"><br />
    <div class="picturetitle">Assorted Editorial Pieces</div>
  </a>
  <a class="tncaption" href="page17.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_malz.gif"><br />
    <div class="picturetitle">Malz - Interactive Beer Campaign</div>
  </a>
  <a class="tncaption" href="page15.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_tv.gif"><br />
    <div class="picturetitle">ODD BOY - Images for Web Promotion</div>
  </a>
  <a class="tncaption" href="page22.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_ed2.jpg"><br />
    <div class="picturetitle">The Overprotected Child</div>
  </a>
  <a class="tncaption" href="page29.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_plz.jpg"><br />
    <div class="picturetitle">Please Work! Collection</div>
  </a>
  <a class="tncaption" href="page4.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_mrs.jpg"><br />
    <div class="picturetitle">Mrs Eaves</div>
  </a>
  <a class="tncaption" href="page8.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_riese.jpg"><br />
    <div class="picturetitle">The Valiant Little Tailor</div>
  </a>
  <a class="tncaption" href="page18.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_diamond.jpg"><br />
    <div class="picturetitle">The Shoes That Were Danced to Pieces</div>
  </a>
  <a class="tncaption" href="page13.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_city.jpg"><br />
    <div class="picturetitle">The Book of the City of Ladies -  Catherine de Pizan</div>
  </a>
  <a class="tncaption" href="page21.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_ed1.jpg"><br />
    <div class="picturetitle">Pioneers of Tech</div>
  </a>
  <a class="tncaption" href="page12.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_rnj.jpg"><br />
    <div class="picturetitle">Ronja Robber's Daughter Character Design</div>
  </a>
  <a class="tncaption" href="page19.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_sketch.jpg"><br />
    <div class="picturetitle">Sketches and Doodles</div>
  </a>
  <a class="tncaption" href="page6.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_ash.jpg"><br />
    <div class="picturetitle">Three Wishes for Cinderella</div>
  </a>
  <a class="tncaption" href="page14.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_coffee.jpg"><br />
    <div class="picturetitle">More Coffee Please!</div>
  </a>
  <a class="tncaption" href="page7.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_stma.jpg"><br />
    <div class="picturetitle">Saint Martin of Tours and the Beggar</div>
  </a>
  <a class="tncaption" href="page5.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_gorilla.jpg"><br />
    <div class="picturetitle">Gorilla Character Design</div>
  </a>
  <a class="tncaption" href="page9.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_cali.jpg"><br />
    <div class="picturetitle">The Landscape of the Horror Film</div>
  </a>
  <a class="tncaption" href="page3.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_ada.jpg"><br />
    <div class="picturetitle">Portraits, Lifedrawing, Exercises</div>
  </a>
  <a class="tncaption" href="page23.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_orl.jpg"><br />
    <div class="picturetitle">Orlando -  Virginia Woolf</div>
  </a>
  <a class="tncaption" href="page10.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_print.jpg"><br />
    <div class="picturetitle">Carmina Burana Drypoint Print</div>
  </a>
  <a class="tncaption" href="page16.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_heart2.gif"><br />
    <div class="picturetitle">Heart - Bachelorsthesis Animation</div>
  </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>