<div class="content masonry">
  <a href="page22.html#anchor"><img class="tn" src="images/tn/tn_ed2.jpg"></a>
  <a href="page23.html#anchor"><img class="tn" src="images/tn/tn_orl.jpg"></a>
  <a href="page26.html#anchor"><img class="tn" src="images/tn/tn_buddenbrooks.jpg"></a>
  <a href="page11.html#anchor"><img class="tn" src="images/tn/tn_old.jpg"></a>
  <a href="page21.html#anchor"><img class="tn" src="images/tn/tn_ed1.jpg"></a>
  <a href="page1.html#anchor" class= "magic" ><img class="tn" src="images/tn/tn_64.jpg"></a>
  <a href="page25.html#anchor"><img class="tn" src="images/tn/tn_fledermaus.png"></a>
  <a href="page17.html#anchor"><img class="tn" src="images/tn/tn_malz.gif"></a>
  <a href="page27.html#anchor"><img class="tn" src="images/tn/tn_vic.jpg"></a>
  <a href="page15.html#anchor"><img class="tn" src="images/tn/tn_tv.gif"></a>
  <a href="page13.html#anchor"><img class="tn" src="images/tn/tn_city.jpg"></a>
  <a href="page14.html#anchor"><img class="tn" src="images/tn/tn_coffee.jpg"></a>
  <a href="page7.html#anchor"><img class="tn" src="images/tn/tn_stma.jpg"></a>
  <a href="page9.html#anchor"><img class="tn" src="images/tn/tn_cali.jpg"></a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>