<div class="content masonry">
  <a class="tncaption" href="page22.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_ed2.jpg"><br />
    <div class="picturetitle">The Overprotected Child</div>
  </a>
  <a class="tncaption" href="page23.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_orl.jpg"><br />
    <div class="picturetitle">Orlando -  Virginia Woolf</div>
  </a>
  <a class="tncaption" href="page17.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_malz.gif"><br />
    <div class="picturetitle">Malz - Interactive Beer Campaign</div>
  </a>
  <a class="tncaption" href="page26.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_buddenbrooks.jpg"><br />
    <div class="picturetitle">Buddenbrooks - Thomas Mann</div>
  </a>
  <a class="tncaption" href="page11.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_old.jpg"><br />
    <div class="picturetitle">Assorted Editorial Pieces</div>
  </a>
  <a class="tncaption" href="page21.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_ed1.jpg"><br />
    <div class="picturetitle">Pioneers of Tech</div>
  </a>
  <a class="tncaption" href="page27.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_vic.jpg"><br />
    <div class="picturetitle">Swiss Army Knife Marketing</div>
  </a>
  <a class="tncaption" href="page15.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_tv.gif"><br />
    <div class="picturetitle">ODD BOY - Images for Web Promotion</div>
  </a>
  <a class="tncaption" href="page1.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_64.jpg"><br />
    <div class="picturetitle">London Underground</div>
  </a>
  <a class="tncaption" href="page13.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_city.jpg"><br />
    <div class="picturetitle">The Book of the City of Ladies</div>
  </a>
  <a class="tncaption" href="page9.html#anchor">
    <img class="navcaption tn" src="images/tn/tn_cali.jpg"><br />
    <div class="picturetitle">The Landscape of the Horror Film</div>
  </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>