<div class="content masonry">
  <a class="tncaption" href="page18.html#anchor">
  	<img class="navcaption tn" src="images/tn/tn_diamond.jpg"><br />
  	<div class="picturetitle">The Shoes That Were Danced to Pieces</div>
  </a>
  <a class="tncaption" href="page2.html#anchor">
  	<img class="navcaption tn" src="images/tn/tn_a2zb.jpg"><br />
  	<div class="picturetitle">A 2 Z</div>
  </a>
  <a class="tncaption" href="page4.html#anchor">
  	<img class="navcaption tn" src="images/tn/tn_mrs.jpg"><br />
  	<div class="picturetitle">Mrs Eaves</div>
  </a>
  <a class="tncaption" href="page5.html#anchor">
  	<img class="navcaption tn" src="images/tn/tn_gorilla.jpg"><br />
  	<div class="picturetitle">Gorilla Character Design</div>
  </a>
  <a class="tncaption" href="page6.html#anchor">
  	<img class="navcaption tn" src="images/tn/tn_ash.jpg"><br />
  	<div class="picturetitle">Three Wishes for Cinderella</div>
  </a>
  <a class="tncaption" href="page8.html#anchor">
  	<img class="navcaption tn" src="images/tn/tn_riese.jpg"><br />
  	<div class="picturetitle">The Valiant Little Tailor</div>
  </a>
  <a class="tncaption" href="page12.html#anchor">
  	<img class="navcaption tn" src="images/tn/tn_rnj.jpg"><br />
  	<div class="picturetitle">Ronja Robber's Daughter Character Design</div>
  </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>