<!doctype html>
<div style="background: cornsilk;">
  <html lang="">
    <head> 

      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
      <link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
      <title>Clementhyme</title>

      <meta name="description" content="Margaux Quayle Cannon Illustration. Contact · Shop · Tumblr · Subscribe.">

      <link rel="icon" 
        type="image/png" 
        href="https://mqc.ink/favicon.png">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

      <!-- build:css styles/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
      <!-- endbuild -->

      <link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-grid@^3.2.6" />
      <script src="https://build.origami.ft.com/v2/bundles/js?modules=o-grid@^3.2.6"></script>



      <!-- build:css styles/main.css -->
      <link rel="stylesheet" href="styles/main.css">
      <!-- endbuild -->

    </head>
    <body>

        <div class="o-grid-row top-level-padding">
    <div data-o-grid-colspan="S12 L6">
      <div style="font-family: 'Marck Script', cursive; font-size: 6em; color: seagreen;">
        Clementhyme 
        <link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
      </div>
      <span style="font-family: 'Marck Script', cursive; font-size: 2em; color: seagreen;">bla bla bla tagline</span>
    </div>
    <div data-o-grid-colspan="S12 L6">
      <div class="breadcrumbs" data-o-grid-colspan="12">
        <br />
      </div>

      <div class="breadcrumbs2" data-o-grid-colspan="12">
        <div>Recipe Index</div>
        <div>About</div>
        <div>Contact</div>
      </div>
    </div>
  </div>

        <div class="top-level-padding">{{content}}</div>

      <footer class="footer">
        ©2016 Margaux Quayle Cannon
      </footer>

      <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>  
      <script src="scripts/main.js"></script>
      <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-61430667-1');ga('send','pageview');
      </script>
    </body>
  </div>
</html>
