---
---
dd {
    margin: 0;
    text-align: justify;
    hyphens: auto;
}

.ddleftalign {
    margin: 0;
    text-align: left;
    hyphens: auto;
}

.ddquote {
    margin: 0;
    text-align: center;
    hyphens: auto;
}

dd:before {
    content: "\A";
    white-space: pre;
}

.dllinen {
    background: linen;
}

.dlwhite {
    color: white;
}

dl {
    padding: 1em 1em 1em 1em;
    margin: 0;
}
.foldedcorner {
    position: relative;
    padding: 2em;
    background: linen;
    background: linear-gradient(-150deg, transparent 1.5em, linen 0);
}

.foldedcorner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, 0.1) 0, rgba(0,0,0,.2)) 100% 0 no-repeat;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    box-shadow: -0.3em 0.3em 0.5em -0.1em rgba(0,0,0,0.1);
}

.rednav {
    font-family: 'Josefin Sans', serif;
    font-size: 3em;
    color: white;
    line-height: 1em;
}

.borderlinecb {
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 2em 0 1em 0;
    margin: 2em 10em 0 auto;
    text-align: right;
    max-width: 60%;
    align-self: right;
}

.borderline {
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 1em 0 1em 0;
    margin: 3em 0 0 0;
}

.headergrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.editorialgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.heidigrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.17fr 1fr;
    margin: 10em;
}
.giantgrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 10em;
}
.tngrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    margin: 10em;
}

.imgwidth {
	max-width: 100%;
}
.imgshadow {
	max-width: 100%;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.2));
}

.orlandogrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 40px;
    margin: 10em;
}

.contactgrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px 100px;
    margin: 0 10em 0 10em;
}

.verticaltn {
    grid-column: span 2;
}
.horizontaltn {
    grid-column-start: span 3 ;

}

.splash_1 {
    background: url(/images/splash_1.png) no-repeat;
    background-color: #c71212;
    background-position: bottom right;
    background-size: contain;
    height: 100vh;
    position: relative;
    /*
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(black, lightgrey);
    border-image-slice: 1;
    */
}
.splash_1:after {
    content:"";
    position: absolute;
    background: linear-gradient(grey, lightgrey);
    bottom: 0;
    height: 10px;
    width: 100%;
}

.splashfood {
    background: url(/images/soup.png) no-repeat;
    min-height: 700px;
    background-position: top right;
    [data-bgclass="splashfood"] a {
        color: #c71212;
    }
}
.splashfood2 {
    background: url(/images/soup.png) no-repeat;
    min-height: 470px;
    background-position: top right;
}

.splashed {
    background: url(/images/splash_1.png) no-repeat;
    background-color: #c71212;
    background-position: bottom right;
    background-size: contain;
    height: 100vh;
    position: relative;
    .indexheader a {
        color: white;
    }
    [data-bgclass="splashed"] a {
        color: black;
    }
}

.splashanim {
    background: url(/images/malz07.gif) no-repeat;
    min-height: 700px;
    background-position: top right;
    [data-bgclass="splashanim"] a {
        color: #c71212;
    }
}
.splashanim2 {
    background: url(/images/malz07.gif) no-repeat;
    min-height: 470px;
    background-position: top right;
}

.splashch {
   background: url(/images/castlehead.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center bottom; 
    .indexheader a {
        color: white;
    }
    [data-bgclass="splashch"] a {
        color: black;
    }
}

.splashcon {
    background: url(/images/oscar2.jpg) no-repeat;
    background-size: cover;
    background-position: center top; 
    .indexheader a {
        color: white;
    }
    [data-bgclass="splashcon"] a {
        color: black;
    }
}


.splashcon2 {
    background: url(/images/oscar2.jpg) no-repeat;
    background-size: cover;
    background-position: center top; 
    min-height: 500px;
}

.splashdeco {
    background: url(/images/std.jpg) no-repeat;
    min-height: 800px;
    background-position: top right;
    [data-bgclass="splashdeco"] a {
        color: #c71212;
    }
}

.splashdeco2 {
    background: url(/images/std.jpg) no-repeat;
    min-height: 600px;
    background-position: top right;
}

.tned {
    grid-area: 5 / 1 / 8 / 8;
    grid-row: span 1;
    
}

.aeditorialheader {
    text-decoration: none;
    color: #424e54;
	text-decoration: none;
	background: linear-gradient(#424e54, #424e54) no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
	text-shadow: .05em 0 #798ba9, -.05em 0 #798ba9;
	transition-property: background-size;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	background-repeat: no-repeat;
}

.awhitetext {
    text-decoration: none;
    color: white;
    text-decoration: none;
    background: linear-gradient(black, black) no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition-property: background-size;
    transition-duration: .4s;
    transition-timing-function: ease-out;
    background-repeat: no-repeat;
    margin: 0 1em 0 0;
}

.awhite {
    text-decoration: none;
    color: #424e54;
	text-decoration: none;
	background: linear-gradient(#424e54, #424e54) no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
	text-shadow: .05em 0 white, -.05em 0 white;
	transition-property: background-size;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	background-repeat: no-repeat;
}
.amenu {
    text-decoration: none;
    color: #424e54;
    text-decoration: none;
    background: linear-gradient(#424e54, #424e54) no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition-property: background-size;
    transition-duration: .4s;
    transition-timing-function: ease-out;
    background-repeat: no-repeat;
    margin: 0 1em 0 0;
}

.anodescend {
    text-decoration: none;
    color: #424e54;
	text-decoration: none;
	background: linear-gradient(#424e54, #424e54) no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
	transition-property: background-size;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	background-repeat: no-repeat;
}

.anodescendwhite {
    text-decoration: none;
    color: white;
	text-decoration: none;
	background: linear-gradient(#424e54, #424e54) no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
	transition-property: background-size;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	background-repeat: no-repeat;
}

.anodescendblack {
    text-decoration: none;
    color: black;
	text-decoration: none;
}

.alinen {
    color: #424e54;
	text-decoration: none;
	background: linear-gradient(#424e54, #424e54) no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
	text-shadow: .05em 0 linen, -.05em 0 linen;
	transition-property: background-size;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	background-repeat: no-repeat;
}

.giantmail {
    text-decoration: none;
    color: rgba(8, 145, 249, 0.4);
}

a:hover {
    color: #c71212;
    background-size: 100% 2px;
}

.verticalbig {
    grid-area: 1 / 2 / 4 / 5;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: top;
    
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

img {
  
}

footer {
	background-color: Linen;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10em 0 2em 0;
}

.footerinfo {
	margin: 2em 0 0 2em;
}



.verticaltext {
    writing-mode: vertical-rl; 
    text-orientation: upright; 
    font-family: "Source Code Pro", monospace;
    font-size: 2em;
    color: #bfcdd6;
}

.cbheader {
    color: white;
    font-family: "Josefin Sans", serif;
    font-size: 3em;
    margin: 0 40px 0 0;
}

.blackheader {
    color: black;
    font-family: "Josefin Sans", serif;
    font-size: 3em;
    margin: 0 40px 0 0;
}

.indexheader {
    color: black;
    font-family: "Josefin Sans", serif;
    font-size: 3em;
    margin: 20px 40px 0 0;
} 

h1 {
    color: #f3ec76;
    margin: 0.5rem 4rem 0 0;
    font-size: 4em;
    position: relative;
    font-family: "Josefin Sans", serif;
}

h1:after {
    content: attr(data-shadow-text);
    color: rgba(8, 145, 249, 0.4);
    mix-blend-mode: multiply;
    top: 0;
    right:0;
    left: 0;
    left: 0;
    position: absolute;
    transform: translate(5px, 5px);
}

.animtype {
    color: rgba(8, 145, 249, 0.4);
    font-size: 8em;
    font-family: "VT323", monospace;
    width: 10ch;
    animation:  animtype 4.5s steps(10), caret 1s 4.5s steps(1) 3;
    white-space: nowrap;
    overflow: hidden;
    border-right: 10px solid;
    border-color: transparent;
    margin: .3em 0 0 0;
}

@keyframes animtype {
    from { width: 0 }
}

@keyframes caret {
    50% { border-color: rgba(8, 145, 249, 0.4); }
}

@media screen and (max-width: 1000px) {
    .giantgrid {
        margin: 1em;
    }
    .heidigrid {
        margin: 1em;
    }
    h1 {
        font-size: 3em;
    }
    .borderline {
        margin: 5em 0 0 0;
        align-self: start !important;
    }
    .blackheader {
        font-size: 2em;
    }
    .rednav {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .giantgrid {
        display: flex;
        flex-direction: column;
        margin: 0.5em;
    }
    .heidigrid {
        margin: 0.5em;
    }
    .flash {
        display: none;
    }
    .headergrid {
        display: flex;
        flex-direction: column;
    }
    h1.indexheader {
        margin: 0 0 .5 0;
        font-size: 2em;
    }
    .pcontact {
        align-self: start !important;
    }
    .imglogo {
        align-self: start !important;
    }
    .splashanim2 {
        background: none;
    }
    .splashdeco2 {
        background: none;
    }
    .splashfood2 {
        background: none;
    }
    .splashcon2 {
        background: none;
    }
    .splash_1 {
        background: none;
        background-color: white;
        height: auto;
    }
    .splash_1:after {
        display: none;
    }

    .awhitetext {
        color: black;
    }
    .dlwhite {
        display: none;
    }
    .dlblackmenu {
        display: none;
    }
    .dlcontact { 
        margin: 0 0 0 1em;
    }
    h1 {
        font-size: 3em;
    }
    .cbheader {
        margin: 0;
        font-size: 2em;
        color: black;
    }
    .blackheader {
        font-size: 2em;
    }
    .rednav {
        color: black;
        font-size: 2em;
    }
    .borderline {
        margin: 1em 0 0 0;
    }
    .animtype {
        font-size: 5em;
        margin: 0 0 0 .2em;
    }   
    .imgprofile{
        width: 60%;
        margin: 1em;
    } 
    .amenu {
        margin: 0 0 0 2em;
    }

}


