---
---


.rednav {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    color: orangered;
    line-height: 2em;
    grid-column: 5 / 7;
    grid-row: span .5;
}

.smnav {
    grid-column: 5 / 7;
}


.borderline {
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 0 0 1em 0;
    margin: 1em;
    text-align: right;
    grid-column: 4 / 7;
}

.headergrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.editorialgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.heidigrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.17fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10em;
}
.giantgrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 10em;
}
.tngrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    margin: 10em;
}

.imgwidth {
	max-width: 100%;
}
.imgshadow {
	max-width: 100%;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.2));
}

.orlandogrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 40px;
    margin: 10em;
}

.verticaltn {
    grid-column: span 2;
}
.horizontaltn {
    grid-column-start: span 3 ;

}

.splash_1 {
    background: url(/images/splash_1.png) no-repeat;
    background-color: #c71212;
    background-position: bottom right;
    background-size: contain;
    height: 100vh;
}

.tned {
    grid-area: 5 / 1 / 8 / 8;
    grid-row: span 1;
    
}

.verticalbig {
    grid-area: 1 / 2 / 4 / 5;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: top;
    
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

img {
  
}

